#button-change-number{
    border: none;
    background-color: gray;
    border-radius: 6px;
    padding: 2px;
}
#button-change-number:hover{
    transition: .3s;
    background-color: rgb(50, 50, 50);
}
