*{
    font-family: Arial, Helvetica, sans-serif;
}

main{
    background-color: rgb(255, 255, 255);
    height: 92.8vh;
    display: flex;
    justify-content: center;
}
.calculadora{
    background-color: rgb(255, 255, 255);
    height: 50%;
    box-shadow: 0 18px 16px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    
}
.calculadora h1{
padding: 50px;
}

input{
    border-radius: 3px;
    border: solid 1px;
    text-align: center;
}
#operações{
    text-align: center;
}
#button-calc{
    height: 30px;
    width: 60px;
    margin-top: 10px;
    background-color: #2ecc71;
    border: none;
    border-radius: 4px;
}
#button-calc:hover{
    box-shadow: 10px, 10px, 10px;
    background-color: rgb(83, 156, 83);
    cursor: pointer;
}